@charset "UTF-8";

/*------------------------null------------------------*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/* temporary version */

/*------------------------general------------------------*/

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.4rem;
}

.buttext {
    color: #000000;
    transition: color 0.6s;
}

.link a {
    color: #000000;
    transition: color 0.6s;
}

button:hover .buttext, .link:hover a {
    color: #515151;
    transition: color 0.6s;
}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    bottom: -7px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s, background-color 0.6s;
}
  
.link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.4s, background-color 0.6s;
}
  
.link::before {
    background-color: #ffffff;
}
  
.link:hover::before {
    background-color: #515151;
}

.hbutton:hover .buttext {
    color: #515151;
    transition: color 0.6s;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.__container {
    max-width: 1420px;
    padding: 0 40px;
    margin: 0 auto;
}

@media(max-width: 426px){
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    h3 {
        font-size: 1.4rem;
    }
    
    p {
        font-size: 1.2rem;
    }
  
    .__container {
        padding: 0 30px;
    }
}
  
@media(max-width: 350px){
    h1 {
        font-size: 2.3rem;
    }
}

/*------------------------header------------------------*/

.header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
}

.header__container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    text-align: center;
    height: 100%;
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__pic {
}

.header__logo {
    color: #000000;
}

.header__right {
}

.header__right-not-active {
}

.header_button {
    padding: 10px 20px;
    background-color: unset;
    border-radius: 7px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: background-color 0.4s;
}

.header_button:hover {
    background-color: #d7d7d7;
    transition: background-color 0.4s;
}

.header__acc {
}

.buttext {
}


/*------------------------main------------------------*/

.main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.main__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.main__list {
    width: 100%;
}

.list__container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));   
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.list__card {
    background-color: #fff;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.card_top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e55c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
}

.card__icon { 
}

.card__image {
    width: 150px;
}

.card__mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 10px;
}

.card__link {
    position: relative;
}

.card__name {
}

.prop {
    display: flex;
    align-items: center;
}

.card__type {
    display: flex;
    gap: 5px;
}

.type__icon {
}

.icon {
}

.type__image {
    width: 25px;
}

.type__value {
}

.card__chars {
    display: flex;
    gap: 15px;
}

.chars__hp {
    display: flex;
    gap: 5px;
}

.hp_icon {
}

.hp__image {
    width: 30px;
}

.hp__value {
}

.chars__attack {
    display: flex;
    gap: 5px;
}

.attack__icon {
}

.attack__image {
    width: 25px;
}

.attack__value {
}

.chars__defense {
    display: flex;
    gap: 5px;
}

.defense__icon {
}

.defense__image {
    width: 25px;
}

.defense__value {
}

.card__bottom {
    background-color: #e0e55c;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px;
}

.card__price {
    display: flex;
    gap: 5px;
}

.price__icon {
}

.price__image {
    width: 30px;
}

.price__value {
}

/*------------------------footer------------------------*/

.footer {
    width: 100%;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
    height: 72px;
    background-color: #ffffff;
}

.footer__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer__text {
    position: relative;
}

.footer__link {
}

.footer__text::before {
    transition: transform 0.7s, background-color 0.6s;
}
  
.footer__text:hover::before {
    transition: transform 0.7s, background-color 0.6s;
}